@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 1199px) {
  .container {
    width: 95%;
  }
}

body {
  font-family: "Marko One", serif;
}
header {
  background-color: #000;
  position: relative;
  z-index: 1000;
}
header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
header .logo {
  flex-basis: 45%;
}
header .logo img {
  width: 50px;
  user-select: none;
}
header .container > p {
  flex-basis: 55%;
  font-size: 2rem;
  -webkit-text-fill-color: #d4b960;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.199);
  user-select: none;
}
header .search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.486);
}
header .search input {
  flex-basis: calc(100% / 3);
  padding: 0.7rem;
  border: 1.8px solid #dbd4d475;
  outline: none;
  font-size: 0.8rem;
}

header .search p {
  flex-basis: calc(100% / 3);
  text-align: center;
  color: #fff;
}
header .search .type {
  flex-basis: calc(100% / 3);
  position: relative;
}
header .search .type .input {
  border: 1.8px solid #dbd4d475;
  cursor: pointer;
  padding: 0.7rem;
  font-size: 0.8rem;
  background-color: #fff;
  user-select: none;
}
header .search .type .input::before,
header .search .type .input::after {
  content: "";
  border-color: #000 transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
header .search .type .input::before {
  opacity: var(--before);
}
header .search .type .input::after {
  border-color: transparent transparent #000 transparent;
  transform: translateY(-100%);
  opacity: var(--after);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}
header .search .type .options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100%;
  list-style: none;
  display: none;
}
header .search .type .options.active {
  display: flex;
}

header .search .type .options li {
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  background-color: #ffffff;
  user-select: none;
  font-size: 0.8rem;
}
header .search .type .options li:hover {
  background-color: #b8b8b8;
}
header .search .type .options li.active {
  background-color: #b8b8b8;
}

header .search .button {
  font-size: 0.8rem;
  padding: 0.5rem 1.2rem;
  background-color: #dbc476;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header .search .button:hover {
  background-color: #d4b960;
}
@media (max-width: 768px) {
  header .container {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
  header .logo img {
    width: 45px;
    flex-basis: 30%;
  }
  header .container > p {
    font-size: 1.6rem;
    flex-basis: 70%;
  }
  header .search {
    flex-wrap: initial;
    flex-direction: column;
    row-gap: 0.6rem;
    padding: 0.6rem 1rem;
  }
  header .search input {
    width: 90%;
    flex-basis: initial;
    font-size: 0.7rem;
    padding: 0.5rem;
  }
  header .search p {
    width: 90%;
    flex-basis: initial;
    font-size: 0.8rem;
  }
  header .search .type {
    width: 90%;
    flex-basis: initial;
  }
  header .search .type .input {
    font-size: 0.7rem;
    padding: 0.5rem;
    cursor: none;
  }
  header .search .type .options li {
    font-size: 0.7rem;
    padding: 0.5rem;
    cursor: none;
  }
  header .search .button {
    margin-top: 0;
    font-size: 0.7rem;
  }
}
main {
  background-repeat: no-repeat;
  background-image: linear-gradient(0.5turn, transparent 25vw, #191820 33vw),
    url("cropped-1280-800-6026x70.jpg");
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main .vid {
  width: fit-content;
  margin: 15vw auto 7vw auto;
  position: relative;
}
main .vid video {
  max-width: 63vw;
  height: 500px;
  object-fit: cover;
}
main .vid::before {
  content: "";
  width: 98%;
  height: 104%;
  position: absolute;
  border: 1px solid #7e7e7e;
  left: 1%;
  top: -2%;
}

main .text {
  font-size: 4rem;
  text-align: center;
  -webkit-text-fill-color: #d4b960;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.616);
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
main .invalidInput {
  width: fit-content;
  margin: 30rem auto 10rem auto;
  font-size: 2rem;
  -webkit-text-fill-color: #d4b960;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.199);
  user-select: none;
  padding: 4rem;
  box-shadow: 1px 1px 13px 0px;
}
@media (max-width: 992px) {
  main .vid {
    margin-top: 20vw;
  }
}
@media (max-width: 768px) {
  main .invalidInput {
    font-size: 0.8rem;
    margin: 0 auto;
  }
  main {
    min-height: 95vh;
  }
  main .vid {
    margin: 50vw auto 26vw auto;
  }
  main .vid video {
    height: 350px;
    max-width: 80vw;
  }
  main .text {
    font-size: 2.5rem;
  }
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: spinner 0.8s linear infinite;
  -webkit-animation: spinner 0.8s linear infinite;
  margin: 30vw auto 0 auto;
}
.spinner > span {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #d4b960;
  position: absolute;
}
.spinner > :nth-child(1) {
  width: 12px;
  height: 12px;
  top: 0%;
  right: 4%;
}
.spinner > :nth-child(2) {
  width: 9px;
  height: 9px;
  top: -9%;
  left: 52%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  opacity: 0.8;
}
.spinner > :nth-child(3) {
  width: 6px;
  height: 6px;
  top: -2%;
  left: 18%;
  opacity: 0.6;
}
@keyframes spinner {
  to {
    rotate: 360deg;
  }
}
@media (max-width: 768px) {
  .spinner {
    width: 30px;
    height: 30px;
  }
  .spinner > :nth-child(1) {
    width: 10px;
    height: 10px;
    top: 9%;
    right: 5%;
  }
  .spinner > :nth-child(2) {
    width: 7px;
    height: 7px;
    top: -7%;
    left: 52%;
  }
  .spinner > :nth-child(3) {
    width: 4px;
    height: 4px;
    top: 1%;
    left: 18%;
  }
}

main .playerData {
  margin: 40vw auto 15vw auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 13px 0px;
}
main .playerData .playerInfo {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  justify-content: center;
  align-items: center;
}
main .playerData .playerInfo img {
  border-radius: 6%;
  width: 220px;
  -webkit-border-radius: 6%;
  -moz-border-radius: 6%;
  -ms-border-radius: 6%;
  -o-border-radius: 6%;
}
main .playerData .playerInfo p {
  color: #fff;
  letter-spacing: 2px;
}
main .rankAndMatchsData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-basis: 60%;
  gap: 2rem;
}
main .rankAndMatchsData .notRanked {
  font-size: 1.5rem;
  letter-spacing: 2px;
}
main .rankAndMatchsData .rank {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 4rem;
}
main .rankAndMatchsData .rank:first-child {
  border-bottom: 1px solid #000;
  padding-bottom: 3rem;
}
main .rankAndMatchsData .rank > div {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
main .rankAndMatchsData .rank > div p:first-child {
  font-size: 1.5rem;
  letter-spacing: 2px;
}
main .rankAndMatchsData .rank > div img {
  width: 150px;
}
main .rankAndMatchsData .rank .wins {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 1rem;
}
main .rankAndMatchsData .rank .wins svg {
  width: 104px;
  height: 104px;
}
main .rankAndMatchsData .rank .wins svg circle {
  fill: transparent;
  stroke: green;
  stroke-width: 4px;
  stroke-dasharray: 314;
  stroke-dashoffset: 60;
}
main .rankAndMatchsData .rank .wins > p:nth-child(2) {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-size: 1.4rem;
  letter-spacing: 1px;
}
main .rankAndMatchsData .rank .wins > p:nth-child(3) {
  font-size: 1.5rem;
}
main .rankAndMatchsData .rank .losses {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 1rem;
}
main .rankAndMatchsData .rank .losses svg {
  width: 104px;
  height: 104px;
}
main .rankAndMatchsData .rank .losses svg circle {
  fill: transparent;
  stroke: red;
  stroke-width: 4px;
  stroke-dasharray: 314;
  stroke-dashoffset: 120;
}
main .rankAndMatchsData .rank .losses > p:nth-child(2) {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-size: 1.4rem;
  letter-spacing: 1px;
}
main .rankAndMatchsData .rank .losses > p:nth-child(3) {
  font-size: 1.5rem;
}
@media (max-width: 992px) {
  main .rankAndMatchsData .notRanked {
    font-size: 1rem;
  }
  main .playerData .playerInfo {
    gap: 7rem;
  }
  main .playerData .playerInfo img {
    width: 200px;
  }
  main .playerData .playerInfo p {
    letter-spacing: 1.5px;
    font-size: 0.9rem;
  }
  main .rankAndMatchsData .rank > div > p:first-child {
    font-size: 1rem;
  }
  main .rankAndMatchsData .rank > div img {
    width: 120px;
  }
  main .rankAndMatchsData .rank > div > p:last-child {
    font-size: 0.8rem;
  }
  main .rankAndMatchsData .rank .wins svg circle,
  main .rankAndMatchsData .rank .losses svg circle {
    r: 45;
    stroke-dasharray: 283;
    stroke-dashoffset: 50;
  }
  main .rankAndMatchsData .rank .losses svg circle {
    stroke-dashoffset: 80;
  }
  main .rankAndMatchsData .rank .wins > p:nth-child(2) {
    font-size: 1rem;
  }
  main .rankAndMatchsData .rank .wins > p:nth-child(3) {
    font-size: 1rem;
  }
  main .rankAndMatchsData .rank .losses > p:nth-child(3) {
    font-size: 1rem;
  }
  main .rankAndMatchsData .rank .losses > p:nth-child(2) {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  main .playerData {
    flex-direction: column;
    gap: 4rem;
    margin-top: 60vw;
  }
  main .playerData .playerInfo {
    gap: 3rem;
    flex-direction: row;
  }
  main .rankAndMatchsData .notRanked {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  main .playerData .playerInfo p:nth-of-type(2) {
    margin-left: -31.5%;
    margin-top: 27%;
  }
  main .rankAndMatchsData {
    flex-direction: row;
    gap: 3rem;
  }
  main .rankAndMatchsData .rank:first-child {
    padding-bottom: 0;
    border-bottom: none;
    position: relative;
  }
  main .rankAndMatchsData .rank:first-child::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 85%;
    top: 13%;
    left: 121%;
    background-color: #000;
  }
  main .playerData .playerInfo img {
    width: 110px;
  }
  main .playerData .playerInfo p {
    letter-spacing: 1px;
    font-size: 0.6rem;
  }
  main .rankAndMatchsData .rank > div > p:first-child {
    font-size: 0.8rem;
    width: 130%;
    text-align: center;
    letter-spacing: 1px;
  }
  main .rankAndMatchsData .rank > div img {
    width: 90px;
  }
  main .rankAndMatchsData .rank > div > p:last-child {
    font-size: 0.6rem;
  }
  main .rankAndMatchsData .rank {
    column-gap: 1rem;
    justify-content: space-between;
  }
  main .rankAndMatchsData .rank .wins,
  main .rankAndMatchsData .rank .losses {
    width: 40%;
  }

  main .rankAndMatchsData .rank .wins svg,
  main .rankAndMatchsData .rank .losses svg {
    width: 56px;
    height: 56px;
  }
  main .rankAndMatchsData .rank .wins svg circle,
  main .rankAndMatchsData .rank .losses svg circle {
    r: 25;
    stroke-dasharray: 157;
    cx: 30;
    cy: 30;
    stroke-dashoffset: 35;
  }
  main .rankAndMatchsData .rank .losses svg circle {
    stroke-dashoffset: 65;
  }
  main .rankAndMatchsData .rank .wins > p:nth-child(2),
  main .rankAndMatchsData .rank .losses > p:nth-child(2) {
    font-size: 0.8rem;
    top: 33%;
    left: 56%;
  }
}

main .container:has(.championData) {
  padding: 0;
}
main .championData {
  margin: 38vw auto 0 auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 4%;
  padding: 0.1rem 2%;
  position: relative;
}
main .championData .left,
main .championData .right {
  position: absolute;
  font-size: 7rem;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}
main .championData .left {
  left: 0;
}
main .championData .right {
  right: -2%;
}
main .championData .left.disabled,
main .championData .right.disabled {
  opacity: 0.2;
  pointer-events: none;
  cursor: none;
}
main .championData > div {
  flex-shrink: 0;
  flex-basis: 100%;
  box-shadow: 1px 1px 13px 0px #000;
  padding: 3rem;
  transition: margin-left 0.5s;
  -webkit-transition: margin-left 0.5s;
  -moz-transition: margin-left 0.5s;
  -ms-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;
}
main .championData > div:nth-child(1) {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
main .championData > div:nth-child(1) > div:nth-child(1) {
  flex-shrink: 0;
  align-self: center;
}
main .championData > div:nth-child(1) > div:nth-child(1) img {
  max-width: 100%;
}
main .championData > div:nth-child(1) > div:nth-child(2) {
  flex-basis: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
main .championData > div:nth-child(1) > div:nth-child(2) > p:nth-child(1) {
  font-size: 2.5rem;
  letter-spacing: 2px;
}
main .championData > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 4rem;
}
main .championData > div:nth-child(1) > div:nth-child(2) > p:nth-child(3) {
  font-size: 2rem;
  letter-spacing: 2px;
}

main .championData > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  color: #fff;
  padding: 1rem 2rem;
}
main .championData > div:nth-child(2) > p {
  font-size: 2.5rem;
  letter-spacing: 3px;
}
main .championData > div:nth-child(2) > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}
main .championData > div:nth-child(2) > div > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 1rem;
}
main .championData > div:nth-child(2) > div > div > :first-child {
  flex-basis: 100%;
}

main .championData > div:nth-child(2) > div > div > :nth-child(3) {
  width: 35vw;
  height: 5px;
}
main
  .championData
  > div:nth-child(2)
  > div
  > div:nth-child(1)
  > :nth-child(3)
  span {
  height: 100%;
  width: 50%;
  background-color: #d4b960;
  display: block;
}
main
  .championData
  > div:nth-child(2)
  > div
  > div:nth-child(2)
  > :nth-child(3)
  span {
  height: 100%;
  width: 20%;
  background-color: #d4b960;
  display: block;
}
main
  .championData
  > div:nth-child(2)
  > div
  > div:nth-child(3)
  > :nth-child(3)
  span {
  height: 100%;
  width: 25%;
  background-color: #d4b960;
  display: block;
}
main
  .championData
  > div:nth-child(2)
  > div
  > div:nth-child(4)
  > :nth-child(3)
  span {
  height: 100%;
  width: 35%;
  background-color: #d4b960;
  display: block;
}

main .championData > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  gap: 6rem;
}
main .championData > div:nth-child(3) > :first-child {
  font-size: 2.5rem;
  letter-spacing: 3px;
}
main .championData > div:nth-child(3) > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
main .championData > div:nth-child(3) > div > div {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
main .championData > div:nth-child(3) > div > div::before {
  content: "";
  background-color: #191820;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  top: 59%;
  left: 65%;
  color: #fff;
  font-size: 1.5rem;
}
main .championData > div:nth-child(3) > div > div:nth-child(1):before {
  content: "P";
}
main .championData > div:nth-child(3) > div > div:nth-child(2):before {
  content: "Q";
}
main .championData > div:nth-child(3) > div > div:nth-child(3):before {
  content: "W";
}
main .championData > div:nth-child(3) > div > div:nth-child(4):before {
  content: "E";
}
main .championData > div:nth-child(3) > div > div:nth-child(5):before {
  content: "R";
}
main .championData > div:nth-child(3) > div > div.active {
  box-shadow: 1px 1px 9px 11px #d4b96085;
}
main .championData > div:nth-child(3) > div > div img {
  max-width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
main .championData > div:nth-child(3) > :last-child {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 400px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
main .championData > div:nth-child(3) > :last-child > p {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
main .championData > div:nth-child(3) > :last-child > p > div > img {
  max-width: 100%;
}
main .championData > div:nth-child(3) > :last-child > p p {
  color: #c82a77;
}

main .championData > div:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
main .championData > div:nth-child(4) > p {
  color: #fff;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  letter-spacing: 3px;
}
main .championData > div:nth-child(4) > div:nth-child(2) {
  margin-bottom: 2rem;
}
main .championData > div:nth-child(4) > div:nth-child(2) img {
  max-width: 100%;
}
main .championData > div:nth-child(4) > div:nth-child(3) {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2rem;
  width: 100%;
}
main .championData > div:nth-child(4) > div:nth-child(3) > div {
  flex-basis: 16%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
main .championData > div:nth-child(4) > div:nth-child(3) div img {
  max-width: 100%;
}
main .championData > div:nth-child(4) > div:nth-child(3) div div {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  display: flex;
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
main .championData > div:nth-child(4) > div:nth-child(3) div div.active {
  box-shadow: 1px 1px 9px 11px #d4b96085;
}
main .championData > div:nth-child(4) > div:nth-child(3) div p {
  text-align: center;
  font-size: 0.8rem;
}
@media (max-width: 992px) {
  main .championData .left,
  main .championData .right {
    font-size: 5rem;
  }
  main .championData > div {
    padding: 1rem;
  }
  main .championData > div:nth-child(1) > div:nth-child(1) {
    width: 45%;
  }
  main .championData > div:nth-child(1) > div:nth-child(2) > p:nth-child(1) {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
  }
  main .championData > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) {
    font-size: 1rem;
    margin-bottom: 4rem;
  }
  main .championData > div:nth-child(1) > div:nth-child(2) > p:nth-child(3) {
    font-size: 1.2rem;
  }
  main .championData > div:nth-child(2) {
    padding: 3rem 2rem;
  }
  main .championData > div:nth-child(2) > p {
    font-size: 1.8rem;
    width: 47%;
  }
  main .championData > div:nth-child(2) > div {
    gap: 4rem;
  }
  main .championData > div:nth-child(3) > :last-child {
    width: 40vw;
  }
  main .championData > div:nth-child(3) > :first-child {
    font-size: 1.8rem;
  }
  main .championData > div:nth-child(3) > div {
    gap: 4rem;
  }
  main .championData > div:nth-child(3) > div > div {
    flex-shrink: 0;
    width: 50px;
  }
  main .championData > div:nth-child(3) > div > div::before {
    font-size: 1rem;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  main .championData > div:nth-child(3) > :last-child > p,
  main .championData > div:nth-child(3) > :last-child > p p {
    font-size: 0.9rem;
  }
  main .championData > div:nth-child(3) > :last-child > p > div {
    width: 50px;
  }
  main .championData > div:nth-child(4) {
    margin-top: 0;
  }
  main .championData > div:nth-child(4) > p {
    font-size: 1.8rem;
  }
  main .championData > div:nth-child(4) > div:nth-child(3) div div {
    width: 55px;
    height: 55px;
  }
  main .championData > div:nth-child(4) > div:nth-child(3) div p {
    font-size: 0.55rem;
  }
}
@media (max-width: 768px) {
  main .championData .left,
  main .championData .right {
    font-size: 3rem;
    cursor: none;
  }
  main .championData > div:nth-child(1) {
    gap: 1rem;
  }
  main .championData > div:nth-child(1) > div:nth-child(1) {
    max-width: 35%;
  }
  main .championData > div:nth-child(1) > div:nth-child(2) {
    gap: 1rem;
  }
  main .championData > div:nth-child(1) > div:nth-child(2) > p:nth-child(1) {
    font-size: 1.1rem;
  }
  main .championData > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) {
    font-size: 0.6rem;
    margin-bottom: 1rem;
  }
  main .championData > div:nth-child(1) > div:nth-child(2) > p:nth-child(3) {
    font-size: 0.6rem;
  }
  main .championData > div:nth-child(2) {
    flex-wrap: wrap;
    padding: 1rem 1rem;
  }
  main .championData > div:nth-child(2) > p {
    flex-basis: 100%;
    font-size: 1.1rem;
    text-align: center;
  }
  main .championData > div:nth-child(2) > div {
    flex-basis: 100%;
    gap: 2rem;
  }
  main .championData > div:nth-child(2) > div > div {
    row-gap: 0.5rem;
  }
  main .championData > div:nth-child(2) > div > div > :first-child,
  main .championData > div:nth-child(2) > div > div > :last-child {
    font-size: 0.6rem;
  }
  main .championData > div:nth-child(2) > div > div > span {
    font-size: 1rem;
  }
  main .championData > div:nth-child(2) > div > div > :nth-child(3) {
    width: 70vw;
    height: 3px;
  }
  main .championData > div:nth-child(3) {
    gap: 4.5rem;
  }
  main .championData > div:nth-child(3) > :first-child {
    font-size: 1.1rem;
  }
  main .championData > div:nth-child(3) > div {
    gap: 1.8rem;
  }
  main .championData > div:nth-child(3) > div > div,
  main .championData > div:nth-child(3) > :last-child > p > div {
    width: 40px;
    cursor: none;
  }

  main .championData > div:nth-child(3) > div > div::before {
    font-size: 0.6rem;
    width: 17px;
    height: 17px;
    line-height: 17px;
  }
  main .championData > div:nth-child(3) > :last-child > p,
  main .championData > div:nth-child(3) > :last-child > p p {
    font-size: 0.6rem;
  }
  main .championData > div:nth-child(4) > p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
  main .championData > div:nth-child(4) > div:nth-child(3) div div {
    width: 45px;
    height: 45px;
    cursor: none;
  }
  main .championData > div:nth-child(4) > div:nth-child(3) div p {
    font-size: 1.2vw;
  }
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0.6rem 0;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  footer {
    font-size: 0.65rem;
  }
}
